# Ignorar dependências do node
/node_modules/

# Ignorar arquivos de build do React
/build/
/dist/

# Ignorar arquivos de configuração do ambiente
.env

# Ignorar o banco de dados SQLite
/database/*.sqlite

# Ignorar arquivos de log
*.log

# Ignorar arquivos de sistema do macOS
.DS_Store

# Ignorar arquivos de sistema do Windows
Thumbs.db

# Ignorar arquivos temporários do editor de código
.vscode/
.idea/

# Ignorar pacotes do NPM que não são necessários no Git
package-lock.json
yarn.lock

# Ignorar arquivos de testes temporários
coverage/

# Ignorar arquivos de cache do Jest
jest-cache/

# Ignorar pastas ou arquivos temporários do backend
/backend/database/
