/* Layout Principal */
.home-container {
  padding: 2rem;
  background-color: #f4f4f4;
}

.home-header {
  text-align: center;
  margin-bottom: 2rem;
}

.home-header h1 {
  font-size: 2.5rem;
  color: #002654;
  margin-bottom: 0.5rem;
}

.home-header p {
  font-size: 1.2rem;
  color: #555;
}

/* Cards de Funcionalidades */
.home-features {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.feature-card {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 1.5rem;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  flex: 1 1 calc(25% - 1rem);
  max-width: 300px;
  transition: transform 0.3s, background-color 0.3s;
  text-decoration: none; /* Remove sublinhado */
  color: inherit; /* Mantém a cor padrão dos textos */
}

/* Ícone dentro dos cards */
.feature-card .feature-icon {
  font-size: 3rem;
  color: #002654;
  margin-bottom: 1rem;
}

/* Título dentro dos cards */
.feature-card h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  color: #004080; /* Nova cor azul mais viva para os links */
  transition: color 0.3s ease;
}

/* Descrição dentro dos cards */
.feature-card p {
  font-size: 1rem;
  color: #555;
}

/* Efeito de hover nos cards */
.feature-card:hover {
  background-color: #f0f8ff;
  transform: translateY(-5px);
}

.feature-card:hover h3 {
  color: #002654; /* Cor do título muda ao passar o mouse */
}
